MachineLearningTesting/results/*
!MachineLearningTesting/results/*.txt
!MachineLearningTesting/results/dqn/*.txt
!MachineLearningTesting/results/td3/*.txt
MachineLearningTesting/TeensyModels/*
!MachineLearningTesting/TeensyModels/placeholder.txt