MachineLearningTesting/results/dqn/*
!MachineLearningTesting/results/dqn/*.txt
MachineLearningTesting/results/td3/*
!MachineLearningTesting/results/td3/*.txt
MachineLearningTesting/TeensyModels/*
!MachineLearningTesting/TeensyModels/placeholder.txt
MachineLearningTesting/results/*.png
MachineLearningTesting/results/*.h5
*.pyc