MachineLearningTesting/results/*
!MachineLearningTesting/results/dqn/placeholder.txt
!MachineLearningTesting/results/td3/placeholder.txt
MachineLearningTesting/TeensyModels/*
!MachineLearningTesting/TeensyModels/placeholder.txt